body, #widget, h1, h2, h3, p, div, button, main {
  padding: 0;
  margin: 0;
  font-family: sans-serif;
  font-weight: normal;
}

body {
  background-color: #e6ebed;
}

#widget {
  display: flex;
  background-color: white;
  border-radius: 1em;
  padding: 0.5rem;
  margin: 0.5rem;
}

img {
  width: 100%;
}

main {
  background-color: #5046b7;
  color: white;
  border-radius: 1em;
  flex: 1;
}

section {
  flex: 2;
  display: flex;
  flex-direction: column;
}

section header {
  display: flex;
}

section h2 {
  flex: 5;
}

#corp {
  flex: 1;
}

#prices {
  display: flex;
  flex-flow: row nowrap;
}

#prices div {
  flex: 1;
}

#lite {
  background-color: #f2f5fa;
  border-radius: 1em;
}

#pro {
  background-color: #2f23ac;
  border-radius: 1em;
  color: white;
}
