body, h1, h2, h3, p, div, ul, li, button, main {
  padding: 0;
  margin: 0;
  font-family: sans-serif;
}

body {
  display: flex;
}

main {
  background-color: purple;
  color: white;
  border-radius: 1em;
  flex: 1;
}

section {
  flex: 2;
  display: flex;
  flex-direction: column;
}

section header {
  display: flex;
}

section h2 {
  flex: 5;
}

.corp {
  flex: 1;
}

.prices {
  display: flex;
  flex-flow: row nowrap;
}

.prices div {
  flex: 1;
}
